body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url('../image01.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -o-background-size: 100%;
  background-size: 100% 100%;
  -webkit-background-size: 100% ;
}
#skix {
  padding:0px 0px 0px 1.2em;
}

p {
  font-size: 1.2em;
}
.jumbotron {
  margin:auto;
  width: 80%;
  opacity:0.8;
}

a {
  color: #00B7FF;
  cursor: pointer;
}

a:hover,
a:active {
  color: #00B7FF;
  text-decoration: underline;
}

a.danger {
  color: red;
}

.spacing {
  margin-bottom: 20px;
}